
body{
	background: color #f6f6f6;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	/*Same thing basicly*/
	font: normal 16px Arial, Helvetica, sans-serif;
	
	line-height: 1.6em;
	margin: 0;
	
}	

a{
	text-decoration: none;
	color:#000;
}

a:hover{
	color:red;
}

a:active{
	color:white;
}

.container{
	width:80%;
	margin:auto;
}

.button{
	background-color: #333;
	color: #fff;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}

.clr{	
	clear:both;
}

.box-1{
	background-color: #333;
	color: #fff;
	border: 5px orangered solid;

	padding: 20px;

	margin: 20px 0;
}

.box-1 h1{
	font-family: Tahoma;
	font-weight:800;	
	font-style:italic;
	text-decoration:underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	border:3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
} 

.categories{
	border: 1px lightgrey solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align:center;
}

.categories ul{
	padding: 0px;
	padding-left: 20px;
	list-style: none;
}

.categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	list-style-image: url("../images/checkmark.png");
}

.login{
	padding:20px;
}

.login .form-group{
	padding-bottom:15px;
}

.login label{
	display:block;
}

.login input[type="text"], .login textarea{
	padding: 8px;
	width:25%;
}

.block{
	float:left;
	width:33.3%;
	border: 1px solid #ccc;
	padding:10px;
	box-sizing:border-box;
}

#main-block{
	float:left;
	width:70%;
	padding: 15px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color:#333;
	color:#fff;
	padding: 15px;
	box-sizing: border-box;
}

.p-box{
	width:800px;
	height:500px;
	border:1px solid #000;
	margin-top:30px;
	position:relative;
	background-image:url('../images/xP.jpg');
	background-repeat: no-repeat;
	background-position: 100px 200 center top;

}

.p-box h1{
	color: #fff;
	position:absolute
}

.p-box h2{
	color: #fff;
	position:absolute;
	top: 200px;
	right: 400px;
}

.p-box h3{
	color: #fff;
	position:absolute;
	bottom: 10px;
	right: 10px;
}

.fix-me{
	position:fixed;
	top: 350px;
}

.lilist li:first-child{
	background: red;
}

.lilist li:last-child{
	background: blue;	
}

.lilist li:nth-child(5){
	background:	yellow;
}

.lilist li:nth-child(even){
	background:	grey;
}
